/.svelte-kit
/build
/node_modules
coverage/

# Elm
elm-stuff/
elm.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
TODO*
convert*.py

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
